.RED{
  color: red;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 15px
}
b1{
  font-weight: bold;
  font-size: 20px
}
b3{
  font-weight: bold;
  font-size: 20px
}
b7{
  font-weight: bold;
}
b8{
  font-weight: bold;
}
b10{
  font-weight: bold;
  font-size: 20px
}
b13{
  font-weight: bold;
}
b14{
  font-weight: bold;
}
b16{
  font-weight: bold;
  font-size: 20px
}
b30{
  font-weight: bold;
}
b18{
  font-weight: bold;
}
b20{
  font-weight: bold;
  font-size: 20px
}
b22{
  font-weight: bold;
}
b23{
  font-weight: bold;
}
b25{
  font-weight: bold;
  font-size: 20px
}
